<template>
  <ion-page>
    <ion-header :translucent="true">
      <ion-toolbar>
        <ion-title>Keyword Tracker</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content :fullscreen="true">
      <div id="container">
        <ion-item>
          <ion-input
            v-model="searchPhrase"
            placeholder="Enter search keywords (e.g. land registry search)"
          ></ion-input>
          <ion-input
            v-model="url"
            placeholder="Enter URL to search for (e.g. www.infotrack.co.uk)"
          ></ion-input>
          <ion-button @click="search()" color="primary" clear slot="end"
            >Search</ion-button
          >
        </ion-item>
        <ion-list>
          <ion-item
            v-for="searchResult in searchResults"
            :key="searchResult.id"
          >
            <ion-label>
              <h2>{{ searchResult.keywords }} - {{ searchResult.url }}</h2>
              <h3>
                Result: {{ searchResult.result }}
              </h3>
              <p>{{ searchResult.created }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import { Client, KeywordSearchResult } from "../api";

import {
  IonContent,
  IonHeader,
  IonPage,
  IonTitle,
  IonToolbar,
  IonList,
  IonItem,
  IonButton,
  IonLabel,
  IonInput,
  toastController,
} from "@ionic/vue";

import { defineComponent } from "vue";

export default defineComponent({
  name: "HomePage",
  components: {
    IonContent,
    IonHeader,
    IonPage,
    IonTitle,
    IonToolbar,
    IonList,
    IonItem,
    IonButton,
    IonLabel,
    IonInput,
  },
  methods: {
    async search() {
      if (this.searchPhrase != "" || this.url != "") {
        try {
          var result = await new Client().searchKeyword(
            this.searchPhrase,
            this.url
          );
          await this.refreshSearchResults();
          const toast = await toastController.create({
            message: `Complete. Result: ${result}`,
            duration: 2000,
          });
          this.searchPhrase = "";
          this.url = "";
          return toast.present();
        } catch (error) {
          console.error(error);
          const errorToast = await toastController.create({
            message: `There was an error searching for keywords. Please try again later.`,
            duration: 2000,
          });
          return errorToast.present();
        }
      }
    },
    async refreshSearchResults() {
      try {
        this.searchResults = await new Client().getSearchResults();
      } catch (error) {
        console.error(error);
        const errorToast = await toastController.create({
          message: `There was an error trying to get the search results. Please try again later.`,
          duration: 2000,
        });
        return errorToast.present();
      }
    },
  },
  data() {
    return {
      searchPhrase: "",
      url: "",
      searchResults: new Array<KeywordSearchResult>(),
    };
  },
  async created() {
    this.refreshSearchResults();
  },
});
</script>